.site-footer {
	width: 100%;
	background-color: #192E30 ;
	color: white;
	padding: 2em;
	box-sizing: border-box;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	clear: both;
}

.site-footer ul {
	list-style: none;
	display: inline;
}

.site-footer a {
	text-decoration: none;
	color: white;
}

.site-footer li {
	display: inline;
	padding: 2em;
}

.site-footer h1 {
	font-family: 'Libre Baskerville', serif;
	display: inline;
	font-weight: lighter;
}

.site-footer img {
	max-height: 1.5em;
	max-width: 1.5em;
}

.copyright {
	font-size: .6em;
}
