/*************************
***** GENERAL STYLES *****
**************************/

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/**************************
****** NAVBAR STYLES ******
***************************/

header {
  width: 100%;
  overflow: auto;
  background-color: #FFF;
  padding-bottom: 20px;
}

.navBar {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 10px;
}

.navBar h1 {
  margin: 0;
  float: left;
}

.navBar ul {
    float: right;
    margin: 0;
    padding-top: 7px;
}

.navBar li {
  display: inline-block;
  margin: 5px;
  margin-right: 10px;
}

.navMenu a {
  color: #222;
  font-family: sans-serif;
}

.navMenu a:hover {
  color: #600;
}

/**************************
****** COMPANY PAGE  ******
***************************/

.company-cards {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 5%; 
  box-sizing: border-box;
}

.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: #46B2B2;
}

.photos {
  background-image: url(https://images6.alphacoders.com/413/413493.jpg);
  background-position: center; 
  background-size: 100% auto;
  height: 20em;
  color: white;
}

.photos h1 {
  text-align: center;
  font-weight: 400;
  margin-top: 4em;
  padding: 1em;
}

.dark-align-left: {
  max-width: 30%;
  display: inline;
}

.dark-align-right {
  width: 60%;
  display: inline;
}

.dark-align-left img {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  display: inline;
  float: left;
  margin: 2em;
}

.light-align {
  max-width: 60%;
  display: inline;
  float: right;
}




